html, body {
  height: 100%;
}

div#map {
  height: 100%;
}

div.modal-dialog {
  width: 90%;
}

div#map-control {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 300px;
  min-height: 300px;
  background-color: white;
  border-radius: 3px;
}
